# =====================================
# 💡 Laravel .gitignore - versi rapi
# =====================================

# Environment
.env
.env.backup
.env.production
auth.json

# Cache & Log files
*.log
.phpunit.result.cache
.phpunit.cache

# IDE & Editor files
.DS_Store
Thumbs.db
.phpactor.json
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Node modules & frontend build
/node_modules
/public/hot
/public/build

# Laravel-specific folders
/public/storage
/storage/*.key
/storage/pail
/vendor

# Homestead (jika tidak pakai)
Homestead.json
Homestead.yaml
